@inherits PlannerEventBase

<div class="planner-event" style="height: @CalculateHeight(); top: @CalculateTop()">
    <div class="notification has-cursor-pointer" @onclick="ClickCallback" style="background-color: @Colour">
        <div>@Item.Description</div>
        <div class="is-size-6">@DateTimeHelper.FormatTime(Item.PlannedActionDate.Value) - @DateTimeHelper.FormatTime(Item.PlannedEndTime.Value)</div>
    </div>
</div>
