@inherits TimeSpentByCategoryReportBase

<Report Title="How your time is used" IsLoading="@(CategoryTimes == null)">
    @if (CategoryTimes != null)
    {
        <Card class="has-margin-bottom-10">
            @*@foreach (var pairing in CategoryTimes)
            {
                var currentCategory = pairing.Key;
                <div @onclick="() => ShowBreakDown(currentCategory)" class="has-margin-bottom-5 has-padding-5 @(UIComponentHelper.CalculateContrastingFontColour(currentCategory.Colour))" style="width: @(CalculatePercentTotalWidth(pairing.Value)); background-color: @(currentCategory.Colour)">
                    <div class="label">@currentCategory.Description</div>
                </div>
            }*@
            <ChartJs.Blazor.Charts.ChartJsPieChart Config="GetChartConfig()" @ref="chart"></ChartJs.Blazor.Charts.ChartJsPieChart>
        </Card>
    }
</Report>
