@page "/"
@inject HttpClient Http

<h1 class="title">@Title</h1>

<section class="section">
    <div class="container">
        <EditForm Model="@NewItem" OnValidSubmit="@SaveItem">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <Field>
                <ControlContent>
                    <TextInput class="is-medium" @bind-Value="NewItem.Description" placeholder="What do you have to do?*"></TextInput>
                    <ValidationMessage For="@(() => NewItem.Description)"></ValidationMessage>
                </ControlContent>
            </Field>
            <Field>
                <ControlContent>
                    <DateInput class="is-medium" @bind-Value="NewItem.PlannedActionDate"></DateInput>
                    <ValidationMessage For="@(() => NewItem.PlannedActionDate)"></ValidationMessage>
                </ControlContent>
            </Field>
            <Field>
                <ControlContent>
                    <Button Label="Save" CssClasses="is-success is-pulled-right" id="saveNewItemBtn"></Button>
                </ControlContent>
            </Field>
        </EditForm>
    </div>
</section>
<section class="section" id="plannerItems">
    <div class="container has-text-centered">
        @if (plannerItems == null)
        {
            <span>Loading Your Planner....</span>
        }
        else if (plannerItems.Count == 0)
        {
            <span>You don't have anything planned. Add something above!</span>
        }
        else
        {
            foreach(var item in plannerItems)
            {
                <div>
                    <span>@item.Description</span>
                    <span>@item.PlannedActionDate</span>
                </div>
            }
        }
    </div>
</section>
@code {
    public string Title = "Your Planner";
    public PlannerItem NewItem { get; set; } = new PlannerItem();

    private ICollection<PlannerItem> plannerItems;

    protected override async Task OnInitializedAsync()
    {
        // todo -> load items
        plannerItems = new List<PlannerItem>();
    }



    private async Task SaveItem()
    {

    }
} 