@page "/"
@inject HttpClient Http
@using PlannerApp.Shared.Common



<section class="section">
    <div class="container">
        <h1 class="title is-5">Enter a New Item</h1>
        <EditForm Model="@NewItem" OnValidSubmit="@SaveItem">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <Field>
                <TextEdit name="Description" Size="Size.Medium" @bind-Text="NewItem.Description" Placeholder="What do you have to do?*"></TextEdit>
                <ValidationMessage For="@(() => NewItem.Description)"></ValidationMessage>
            </Field>
            <Field>
                <DateInput class="is-medium" name="PlannedActionDate" @bind-Value="NewItem.PlannedActionDate" placeholder="When does it start?*"></DateInput>
                <ValidationMessage For="@(() => NewItem.PlannedActionDate)"></ValidationMessage>
            </Field>
            <Field>
                <DateInput class="is-medium" name="PlannedEndDate" @bind-Value="NewItem.PlannedEndTime" placeholder="When does it end?*"></DateInput>
                <ValidationMessage For="@(() => NewItem.PlannedEndTime)"></ValidationMessage>
            </Field>
            <Field>
                <Button Class="is-pulled-right" Color="Color.Success" Type="ButtonType.Submit" id="saveNewItemBtn">Save</Button>
            </Field>
        </EditForm>
    </div>
</section>
<section class="section" id="plannerItems">
    <div class="container">
        @if (plannerItems == null)
        {
            <span class="has-text-centered">Loading Your Planner....</span>
        }
        else if (plannerItems.Count == 0)
        {
            <span class="has-text-centered">You don't have anything planned. Add something above!</span>
        }
        else
        {
            <h1 class="title is-5">Upcoming Events</h1>
            @foreach (var daysEvents in plannerItems.Where(p => p.PlannedActionDate.Value >= DateTime.Now).GroupBy(p => p.PlannedActionDate.Value.Date).OrderBy(d => d.Key))
            {
                <h2 class="title is-5">@(DateTimeHelper.FormatFullDate(daysEvents.Key))</h2>
                <div class="mb-5">
                    @foreach (var item in daysEvents.OrderBy(e => e.PlannedActionDate.Value.TimeOfDay))
                    {
                        <div class="notification" id="item-@(item.ID)">
                            <button class="delete" @onclick="@(() => DeleteItem(item))"></button>
                            <div class="columns is-mobile is-gapless">
                                <div class="column is-3-mobile is-2-tablet is-1-widescreen has-text-weight-semibold">
                                    @(DateTimeHelper.FormatTime(item.PlannedActionDate.Value))
                                </div>
                                <div class="column">@item.Description</div>
                            </div>
                        </div>
                    }
                </div>
            }
            @if(!plannerItems.Any(p => p.PlannedActionDate.Value >= DateTime.Now))
            {
                <p>You don't have any upcoming events.</p>
            }
        }
    </div>
</section>
@code {
    public string Title = "Your Planner";
    public PlannerItemDTO NewItem { get; set; } = new PlannerItemDTO();

    private List<PlannerItemDTO> plannerItems;

    protected override async Task OnInitializedAsync()
    {
        plannerItems = await Http.GetJsonAsync<List<PlannerItemDTO>>("/api/PlannerItems");
    }

    private async Task SaveItem()
    {
        PlannerItemDTO createdItem;
        try
        {
            createdItem = await Http.PostJsonAsync<PlannerItemDTO>("/api/PlannerItems", NewItem);
        }
        catch
        {
            // todo -> error message/handling
            createdItem = null;
        }
        plannerItems.Add(createdItem);
        NewItem = new PlannerItemDTO();
    }

    private async Task DeleteItem(PlannerItemDTO item)
    {
        var response = await Http.DeleteAsync($"/api/PlannerItems/{item.ID}");
        if (!response.IsSuccessStatusCode)
        {
            throw new ArgumentException();
        }
        plannerItems.Remove(item);
    }
} 