@inherits PlannerItemFormBase

<EditForm Model="Item" OnValidSubmit="SavePlannerItem">
    <UIComponents.FluentValidator TValidator="PlannerApp.Shared.Validators.PlannerItemDTOValidator"></UIComponents.FluentValidator>
    <Field Label="Description">
        <ControlContent>
            <TextField @bind-Value="Item.Description"></TextField>
        </ControlContent>
        <ValidationContent>
            <ValidationMessage For="@(()=> Item.Description)"></ValidationMessage>
        </ValidationContent>
    </Field>
    <Field Label="From">
        <ControlContent>
            <DateField HasTime @bind-Value="Item.PlannedActionDate"></DateField>
        </ControlContent>
        <ValidationContent>
            <ValidationMessage For="@(() => Item.PlannedActionDate)"></ValidationMessage>
        </ValidationContent>
    </Field>
    <Field Label="Until">
        <ControlContent>
            <DateField HasTime @bind-Value="Item.PlannedEndTime"></DateField>
        </ControlContent>
        <ValidationContent>
            <ValidationMessage For="@(() => Item.PlannedEndTime)"></ValidationMessage>
        </ValidationContent>
    </Field>
    <Field Label="Category">
        <ControlContent>
            <SelectField class="is-fullwidth" ControlClass="is-expanded" TValType="int?" @bind-Value="Item.CategoryID" StringParser="UIComponents.Extensions.ParsingExtensions.ParseStringAsNullableInt">
                <option></option>
                @foreach (var category in Categories.OrderBy(c => c.Description))
                {
                    <option value="@category.ID">@category.Description</option>
                }
            </SelectField>
        </ControlContent>
    </Field>
    @if(Item.ID != 0)
    {
        <Field>

        </Field>
    }
    <Field>
        <Button CssClass="is-pulled-right" Colour="ComponentColour.Success" Type="submit" id="saveChangesBtn">
         @(Item.ID == 0 ? "Add Item" : "Update Item")
        </Button>
    </Field>
</EditForm>